* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

div#topo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
    background-color: #c1c1c1;
}

div#wrapper-menu {
    width: 40%;
}

div#wrapper-menu .menu {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.wrapper-logo img {
    max-width: 80px;
}