<!DOCTYPE html>
    <%- include('../partials/head') %>

    <body class="container">
        <%- include('../partials/header', {pagina: 'Sobre'}) %>
        <main>
            <div class="jumbotron">
                <h1>Sobre o Jura</h1>
                <p>Mlk zika e esforçado tentando vencer na vida</p>
            </div>
        </main>
        <%- include('../partials/footer') %>
    </body>
</html>