* {
    border: none;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.dataGridView {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

.dataGridView .dgvTitulos .dgvLinhaTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: #138;
    color: #fff;
    border-radius: 5px 5px 0px 0px;
} 

.dataGridView .dgvDados {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
} 

.dataGridView .dgvDados .dgvLinha {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.dgvLinha:nth-child(odd){
    background-color: #DDD;
}

.dgvLinha:nth-child(even){
    background-color: #EEE;
}

.dgvLinha:hover{
    background-color: #AAA !important;
    color: #fff !important;
    cursor: pointer;
} 


.item {
    padding: 5px;
}

.c1 {
    width: 30px;
}
.c2 {
    width: 150px;
}
.c3 {
    width: 150px;
}
.c4 {
    width: 150px;
}
.c5 {
    width: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

/* Window view */
.janelaView {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.75);
}

.view {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    background-color: #c3c3c3;
    padding: 10px;
    border-radius: 5px;
}

.campo {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    margin-bottom: 10px;
    width: 40vw;
}

.campo input {
    padding: 5px;
    border-radius: 5px;
    outline: none;
    width: 100%;
}

.rodape {
    align-items: center !important;
}

.rodape .btn_ok {
    background-color: #138;
    color: #fff;
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.rodape_editar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.rodape_editar button {
    color: #fff;
    width: 45%;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}

.rodape_editar .btn_cancelar {
    background-color: rgb(201, 45, 45);
}

.rodape_editar .btn_cancelar:hover {
    background-color: rgb(179, 40, 40);
}

.rodape_editar .btn_salvar {
    background-color: rgb(48, 148, 53);
}

.rodape_editar .btn_salvar:hover {
    background-color: rgb(40, 124, 44);
}

.ocultar {
    display: none;
}
